.card {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform .1s;
}
.card:hover {
    transform: scale(1.12);
    @media (max-width: 768px) {
        transform: scale(1.05);
    }
}

.card .bg-two p,
.card .bg-three p {
    font-family: "PersonaBold", sans-serif;
    font-size: 1.4rem;
    transform: scaleX(1.1);
    transform-origin: left;
    margin-left: 5px;
    width: 50%;
}

.card img {
    height: 325px;
    aspect-ratio: 9 / 13;
    object-fit: cover;
    background-color: var(--color-local-agi);

    position: relative;
    z-index: 4;
}

/*
.card .bg-one {
    width: 100%;
    height: 100%;
    background-color: #76643e;
    position: absolute;
    transform: rotate(0deg);
    z-index: 3;
}
*/

.card .bg-two {
    width: 100%;
    height: 100%;
    background-color: var(--color-local-bufu);
    border: 1px dashed #aaaaaa;
    position: absolute;
    z-index: 2;
    transform: rotate(1.5deg) translate(0px);
    transition: transform .1s;
}
.card:hover:not(:active) > .bg-two {
    transform: rotate(5deg) translate(15px, -2px);
}
.card .bg-two:hover {
    transform: rotate(5deg) translate(15px, -2px) translateY(-25px) !important;
}

.card .bg-three {
    width: 100%;
    height: 100%;
    background-color: var(--color-local-zio);
    border: 1px dashed #aaaaaa;
    position: absolute;
    z-index: 1;
    transform: rotate(3deg) translate(0px);
    transition: transform .1s;
}
.card:hover:not(:active) > .bg-three {
    transform: rotate(10deg) translate(25px, -6px);
}
.card .bg-three:hover {
    transform: rotate(10deg) translate(25px, -6px) translateY(-25px) !important;
}

.card .title {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 5px;

    text-align: center;
    background-image: linear-gradient(#00000000, #00000099, #000000CC, #000000FF);
    word-wrap: break-word;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;    
    color: whitesmoke;

    opacity: 0;

    transform: translateX(-50%);
    z-index: 5;

    transition: opacity .1s;
}
.card:hover:not(:active) > .title {
    opacity: 1;
}

.card .year {
    font-family: 'Persona';
    font-size: 34px;
    text-align: end;

    position: absolute;
    top: 0px;
    right: 5px;
    z-index: -1;

    color: var(--color-contrast-bufu);
    
    transition: transform .1s;
}
.card:hover:not(:active) > .year {
    transform: translateY(-90%);
}

.card .rating {
    font-size: 3rem;
    writing-mode: vertical-rl;
    direction: rtl;
    text-align: center;

    height: 100%;
    
    color: var(--color-contrast-bufu);
    
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    transition: transform .1s;
}
.card:hover:not(:active) > .rating {
    transform: translateY(-50%) translateX(-95%);
}