/*
body {
    background-color: var(--color-bufu);
}*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
header .add-card {
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%) translate(40px,42px);
}
header .ui-circle {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%) translate(20px,20px);
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 180px;
    margin-right: 8%;
    margin-left: 8%;
    padding-bottom: 200px;
    justify-content: space-evenly;
    gap: 100px;
}