body {
    background-color: var(--color-bufu);
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-agi);
    z-index: 10;
}
.add-card {
    position: relative;
    z-index: 10;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 180px;
    margin-right: 8%;
    margin-left: 8%;
    padding-bottom: 200px;
    justify-content: space-evenly;
    gap: 100px;
}
