/* USED FONTS */
@font-face {
    font-family: 'HeavyHeap';
    src: url('../../assets/fonts/HeavyHeap.otf');
}
@font-face {
    font-family: 'MightySouly';
    src: url('../../assets/fonts/MightySouly.ttf');
}
@font-face {
    font-family: 'OctinSpraypaint';
    src: url('../../assets/fonts/OctinSpraypaint.otf');
}
@font-face {
    font-family: 'StencilArmy';
    src: url('../../assets/fonts/StencilArmy.otf');
}

/* UNUSED FONTS *//*
@font-face {
    font-family: 'Gildeon';
    src: url('../../assets/fonts/Gildeon.otf');
}
@font-face {
    font-family: 'Ringbearer';
    src: url('../../assets/fonts/Ringbearer.ttf');
}
@font-face {
    font-family: 'Airborne86Stencil';
    src: url('../../assets/fonts/Airborne86Stencil.otf');
}
*/

/* BASE STYLE */
* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}
