/* INIT FONT */
@font-face {
    font-family: 'HeavyHeap';
    src: url('../../assets/fonts/heavy-heap-rg.otf');
}
@font-face {
    font-family: 'MightySouly';
    src: url('../../assets/fonts/MightySouly-lxggD.ttf');
}
@font-face {
    font-family: 'Gildeon';
    src: url('../../assets/fonts/Gildeon-GO7ZZ.otf');
}

/* BASE STYLE */
* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
  white-space: nowrap;  
}
