/* INIT FONT */
@font-face {
    font-family: 'Persona';
    src: url('../../assets/fonts/heavy-heap-rg.otf');
}
@font-face {
    font-family: 'PersonaBold';
    src: url('../../assets/fonts/MightySouly-lxggD.ttf');
}
@font-face {
    font-family: 'Gildeon';
    src: url('../../assets/fonts/Gildeon-GO7ZZ.otf');
}

/* BASE STYLE */
* {
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}
