#card-container {
    
    .star {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        width: 60px;
        z-index: -1;
        font-size: 80px;

        offset-rotate: 0deg;
        
        opacity: 0;
        transition: opacity .1s;
    }
    .star > svg {
        fill:   var(--color-local-zio);
        stroke: none;
        filter: drop-shadow(0px 0px 2px color-mix(in srgb, var(--color-local-agi)  40%, transparent));
    }
    .card:hover > .star {
        animation-name: orbit;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-duration: var(--orbit-animation-duration);
        animation-delay: calc((var(--orbit-animation-duration) / (var(--stars-number)*3)) * var(--star-id));

        opacity: 1;
    }

    /*
    https://yqnn.github.io/svg-path-editor/
    */
    .card[data-path="linear"] .star {
        offset-path: path("M168.3 36.25c68.238-31.53 161.829-49.33 172.8-23 11.907 28.57-74.043 107.68-159.3 150-68.598 34.05-167.787 59.69-180 33-13.014-28.38 72.081-116.39 166.5-160Z");
        offset-anchor: 150px 90px;
        --orbit-animation-duration: 2.2s;
    }
    .card[data-path="bounce"] .star {
        offset-path: path("M168.3 36.25c68.238-31.53 66.6 27.75 172.8-23 11.907 28.57-74.043 107.68-159.3 150-68.598 34.05-144.9-19.25-180 33C-11.214 167.87 73.881 79.86 168.3 36.25Z");
        offset-anchor: 150px 100px;
        --orbit-animation-duration: 1.8s;
    }
    

}

@keyframes orbit {
    0% {
        offset-distance: 90%;
        z-index: -1;
    }
    19.9% {
        z-index: -1;
    }
    20% {
        z-index: 6;
    }
    74.9% {
        z-index: 6;
    }
    75% {
        z-index: -1;
    }
    100% {
        offset-distance: 0%;
        z-index: -1;
    }
}