
body {
    /*
    background-image: url('../../assets/images/b&w-tiles-background.png');
    background-repeat: repeat;
    */
    background-color: #6b6565;
}

.page-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-right: 8%;
    margin-left: 8%;
    justify-content: space-evenly;
    gap: 100px;
}

header {
    width: 100%;
    background-color: var(--color-primary);
    height: 100px;
}

.add-card {
    position: relative;
    z-index: 10;
}