#new-card-form {
    --card-width: 350px;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
}
#new-card-form.down {
    pointer-events: all;
    opacity: 1;
}

#new-card-form .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: #07091d;
}

#new-card-form .form {
    position: relative;
    height: var(--param-card-height);
    aspect-ratio: 9/13;
    perspective: 1000px;
    transform-style: preserve-3d;
}

/* *********************************** */
/* *********************************** */
/* ******** CONTAINER LAYOUT ********* */
/* *********************************** */
/* *********************************** */

#new-card-form .container {
    position: relative;

    width: 100%;
    height: 100%;
    
    perspective: inherit;
    transform-style: preserve-3d;
}

#new-card-form .container .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#new-card-form .container .card > * {
    width: 100%;
    height: 100%;
}
#new-card-form .container .card * {
    backface-visibility: hidden;
}
#new-card-form .container .card > .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotateY(180deg);
}
#new-card-form .container .card > .back > img.media {
    width: 40%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#new-card-form .container .card .flip-icon {
    position: absolute;
    top: 0;
    width: 25px;
}
#new-card-form .container .card .flip-icon g {
    cursor: pointer;
    fill: var(--color-zio);
}
#new-card-form .container .card .flip-icon.right {
    right: 0;
}
#new-card-form .container .card .flip-icon.left {
    left: 0;
}


/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */

#new-card-form .container .card {
    transform-origin: center center;
    transform-style: preserve-3d;/*
    transform: translate3d(0, 0, 0) rotate(0deg);*/
    transform: none;
    transition: transform .1s, rotate .5s;
    
    --rotate-y: 0deg;
}
#new-card-form .card.flip {
    --rotate-y: 180deg !important;
}
#new-card-form .container.open .card.center {
    --transform: translate3d(0, 0, 0px) rotateY(var(--rotate-y));
    transform: var(--transform);
    cursor: auto;
}
#new-card-form .container.open .card.left {
    --transform: translate3d(-60%, -25%, -200px) rotateY(var(--rotate-y)) rotate(-5deg);
    transform: var(--transform);
    user-select: none;
    cursor: pointer;
}
#new-card-form .container.open .card.right {
    --transform: translate3d(80%, 25%, -200px) rotateY(var(--rotate-y)) rotate(8deg);
    transform: var(--transform);
    user-select: none;
    cursor: pointer;
}

#new-card-form .card.center {
    z-index: 5;
}

#new-card-form .card.one {
    background-color: aqua;
}
#new-card-form .card.two {
    background-color: blueviolet;
}
#new-card-form .card.three {
    background-color: burlywood;
}
